.logout-button {
	color: white;
	padding-left: 15px;
}

.username {
	padding-right: 10px;
}

.login-form {
    padding-top: 3rem;
}

.login-component {
	margin-top: 1rem;
}

h2 {
	padding-top: 5rem;
	margin-left: -2rem;
	margin-bottom: -1rem;
}